{% extends 'base.html.twig' %}
{% block body %}
	<section class="bg-success">
		<div class="container">
			<div class="row align-items-center py-5">
				<div class="col-md-4 text-white">
					<h1>Art
						<i class="fa fa-paint-brush fa-lg"></i>
					</h1>
					<img src="../assets/img/art.svg" alt="About Hero" >
				</div>
				<div class="col-md-8 text-white">
					<h1>Its time to sell your art</h1>
					<form class="row g-3">
						<div class="col-md-6">
							<label for="title" class="form-label">Title</label>
							<input type="text" class="form-control" id="title" placeholder="Title">
						</div>
						<div class="col-md-6">
							<label for="state" class="form-label">State</label>
							<input type="text" class="form-control" id="state" placeholder="What state is your product in?">
						</div>
						<div class="col-12">
							<label for="description" class="form-label">Description</label>
							<textarea class="form-control" id="description" rows="3"></textarea>
						</div>
						<div class="col-12">
							<label for="photo" class="form-label">We want to see your product</label>
							<input class="form-control" type="file" id="photo">
						</div>
						<div class="col-md-6">
							<label for="price" class="form-label">Price</label>
							<input type="number" class="form-control" id="price" placeholder="Auction value">
						</div>
						<div class="col-md-6">
							<label for="closingDate" class="form-label">Closing Date</label>
							<input type="date" class="form-control" id="closingDate">
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
