{% extends 'base.html.twig' %}
{% block body %}
	<section class="bg-success">
		<div class="container">
			<div class="row align-items-center py-5">
				<div class="col-md-4 text-white">
					<h1>Books
						<i class="fa fa-book fa-lg"></i>
					</h1>
					<img src="../assets/img/books.svg" alt="About Hero">
				</div>
				<div class="col-md-8 text-white">
					<h1>Its time to sell your books</h1>
					{# <form class="row g-3"> #}
					{{ form_start(form) }}
					{{ form_widget(form) }}
					<div class="col-12">
						<button type="submit" class="btn btn-primary">Create Auction</button>
					</div>
					{{ form_end(form) }}
					{# </form> #}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
